/* dialog */
.dialog {
  position: absolute;;
  top: 200px;
  left: 50%;
  width: 394px;
  margin-left: -198px;
  text-align: center;
  background-color: #fff;
}

.error-message {
  display: none;
  color: red;
  font-weight: bolder;
}

.error-message.show {
  display: block;
}

.dialog-header {
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  background-color: #f0f0f0;
  color:#000;
  position: relative;

  span {
    position: absolute;
    left: 15px;
    font-size: 17px;
    font-weight: bolder;
    line-height: 50px;
  }

  img {
    position: absolute;
    top: 17.5px;
    right: 20px;
    width: 15px;
    height: 15px;
  }
}

.commentForm {
  width: 350px;
  margin: 0 auto;
}

.dialog input
{
    display: block;
    width: 350px;
    height: 42px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    outline: none;
    border: 1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-left: 8px;
    box-sizing: border-box;

    &[type="submit"] {
      margin-bottom: 0;
    }

    &[type="checkbox"] {
      display: inline;
      width: auto;
      height: auto;
    }
}

.dialog .ld-input-part
{
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 20px;

    &:last-child input {
      margin-bottom: 0;
    }
}

.dialog .checkbox-line {
  color: #707070;
  text-align: left;
  font-size: 12px;

  input {
    margin: 0 6px 0 0;
  }
}

.dialog .ld-submit-part {
  margin-bottom: 25px;
}

.dialog .ld-submit
{
    color: #fff;
    background-color: #2fa9be;
}
.dialog .ld-submit:hover
{
    background-color: #2890ae;
}
.dialog .ld-msg
{
  display: none;
  color: orangered;
  font-weight: bold;
}

.jump-link {
  display: block;
  margin: 25px;
  color: #2fa9be;
  font-size: 13px;
  text-decoration: none;
}

::-webkit-input-placeholder {
   color: #c8c8c8;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c8c8c8;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c8c8c8;
}

:-ms-input-placeholder {
   color: #c8c8c8;
}
