$borderColor:#dddddd;

.project-member-con{
    padding-top: 40px; 
    .title{font-size: 18px;margin-right: 20px;}
    .leave-project-btn{
        float: right;
        color: #FA533D;
        font-size: 13px;
        margin-right: 40px;
        margin-top: 5px;
    }
    >*{margin-left: 40px;}
    .project-member-list{
        margin-top: 30px;
        .member-list {
            width: 100%;
            list-style: none;
            overflow: auto;

            li {
              float: left;
              width: 80px;
              height: 125px;
              margin: 0 100px 40px 0;
              font-size: 14px;
              text-align: center;
              vertical-align: middle;

              &:nth-child(6n) {
                margin-right: 0;
              }

              &:nth-child(30+n) {
                margin-bottom: 90px;
              }

              img {
                display: block;
                width: 80px;
                height: 80px;
                margin-bottom: 30px;
                border-radius: 50%;
              }
            }
          }
    }
    .project-member-setting{
      width: auto;
      margin: 10px 40px;
    }
}


