.app-version-title {
  float: left;
  font-weight: bolder;
  margin: 20px 0 0 20px;
}

.app-version-form {
  width: 600px;
  margin: 50px auto 0;
  clear: left;
}

.app-version-err {
  text-align: center;
  color: red;
  font-size: 15px;
}
