$minWidth: 1100px;

* {
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "微软雅黑";
}

body {
  margin: 0;
  // overflow-x: hidden;
}

#container {
  min-width: $minWidth;
}

.home-nav {
  min-width: $minWidth;
  width: 100%;
  height: 80px;
  background-color: #cbecd9;
}

.main-area {
  width: $minWidth;
  height: 100%;
  margin: 0 auto;
}

.home-title {
  float: left;
  font-size: 30px;
  margin: 0;
  margin-top: 33px;
  color: #2da7ad;
}

.home-nav-btn {
  float: right;
  margin-top: 42px;
  font-size: 17px;
  color: #2da7ad;
  text-decoration: none;
}

.register-btn {
  margin-right: 30px;
}

.hover-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  z-index: 199;
}

.show {
  display: block;
}
