* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Microsoft YaHei", "微软雅黑";
}

.invite-dialog {
  position: absolute;;
  top: 200px;
  left: 50%;
  width: 650px;
  margin-left: -325px;
  background-color: #fff;
  border-radius: 3px;

  h3 {
    margin-bottom: 15px;
    font-size: 27px;
    color: #2FA9BD;
    text-align: center;
    font-weight: 400;
  }

  .sub-title {
    font-size: 18px;
    text-align: center;
    color: #999;
    margin-bottom: 39px;
  }

  textarea {
    display: block;
    width: 450px;
    height: 150px;
    margin: 0 auto 30px;
    border: none;
    box-shadow:1px 1px 5px #5D5858;
    resize: none;
    padding: 12px 10px;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.apply-btn {
  display: block;
  width: 150px;
  height: 36px;
  margin: 0 auto;
  background-color: rgb(55,169,189);
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: #43BFD3;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #1D8596;
  }
}

.blank-main-area {
  width: 100%;
  height: 680px;
}
