.messagebox-menu {
  background: #fff;
  width: 350px;
  border: solid 1px #ddd;
  border-radius: 3px;
  transform: translateY(14px);
  overflow: hidden;
  font-size: 12px;
  color: #555;
  .messagebox-title {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    color: #555;
  }
  .messagebox-total {
    background: #F6F6F6;
    color: #2FA9BD;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .messagebox-list {
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    .empty {
      height: 50px;
      line-height: 50px;
      color: #9CA5B2;
      text-align: center;
    }
    .messagebox-message {
      position: relative;
      .body {
        padding: 6px 10px;
        width: 240px;
      }
      .time {
        position: absolute;
        bottom: 6px;
        right: 10px;
        color: #9CA5B2;
      }
    }
  }
}

.messagebox-dropdown-link {
  font-size: 16px;
  line-height: 28px;
  color: #2da7ad;
  cursor: pointer;
  &:hover {
    color: #218289;
  }
  .ant-badge-count {
    transform: scale(.8);
    top: -6px;
    left: 8px;
  }
}