$height: 40px;
$iconsize: 30px;

.ganggang {
  overflow: hidden;
  height: $height;
  margin-bottom: 20px;
  
  .ganggang-gang {
    float: left;
    box-sizing: border-box;
    text-align: center;
    transition: all ease 300ms;
    overflow: hidden;
    &>div {
      height: $height;
      color: #fff;
    }
    .ganggang-title {
      line-height: $height;
      font-size: 16px;
      .icon {
        background-image: url('./../../../assets/image/site-icons.png');
        background-repeat: no-repeat;
        background-size: auto $iconsize*5;
        width: 100%;
        height: $iconsize;
        margin-top: ($height - $iconsize)/2;
        
        &.youku {
          background-position: center 0px;
        }
        &.bilibili {
          background-position: center $iconsize*-1;
        }
        &.acfun {
          background-position: center $iconsize*-2;
        }
        &.qq {
          background-position: center $iconsize*-3;
        }
        &.iqiyi {
          background-position: center $iconsize*-4;
        }
      }
    }
    .ganggang-detail {
      line-height: $height/2;
    }
  }
}