.team-menu {
  background: #fff;
  width: 160px;
  border: solid 1px #ddd;
  border-radius: 3px;
  transform: translateY(14px);
  overflow: hidden;
  .separate-title {
    height: 9px;
    span {
      font-size: 12px;
      background: #fff;
      color: #999;
      padding: 0 10px;
    }
  }
  .team-item-container {
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .team-page,
  .team-item,
  .team-manage {
    padding: 0 10px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background: #f4f4f4;
    }
  }
  .team-page {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
  }
  .team-item {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
  }
  .team-manage {
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #999;
  }
}
.team-dropdown-link {
  font-size: 16px;
  i {
    font-size: 12px;
  }
  span {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
}