.team-page {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  .team-opt {
    margin-bottom: 40px;
    .team-opt-title {
      font-size: 18px;
    }
  }
  .team-opt.name-change {
    .input-label {
      .label {
        .label-value {
          font-size: 18px;
        }
        .bt.showinput {
          font-size: 13px;
          margin-left: 20px;
          color: #42AFC1;
          border: none;
          background: transparent;
        }
      }
      .input {
        .input-value {
          outline: none;
          border: none;
          font-size: 18px;
          border-bottom: dashed 1px #B3B3B3;
          width: 250px;
        }
        .bt.ok {
          font-size: 13px;
          margin-left: 20px;
          height: 24px;
          width: 60px;
          background: #2FA9BD;
          color: #fff;
          border: none;
          border-radius: 3px;
        }
        .bt.cancel {
          font-size: 13px;
          margin-left: 20px;
          height: 24px;
          border: none;
          background: transparent;
          color: #B3B3B3;
        }
      }
    }
    .team-birth {
      font-size: 13px;
      color: #B3B3B3;
      margin-top: 10px;
    }
  }
  .team-opt-title-contianer {
    height: 30px;
  }
  .team-opt.team-transfer {
    .bt.transfer {
      float: right;
      border: #DDD solid 1px;
      border-radius: 3px;
      font-size: 12px;
      padding: 4px 6px;
      background: #fff;
      color: #333;
    }
  }
  .team-opt.team-delete {
    .bt.delete {
      float: right;
      border: #DDD solid 1px;
      border-radius: 3px;
      font-size: 12px;
      padding: 4px 6px;
      background: #fff;
      color: #FA533D;
    }
  }
}
.team-delete-modal {
  position: relative;
  height: 120px;
  .emphasize {
    color: #FA533D;
  }
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .message {
    width: 360px;
    font-size: 13px;
    .confirm-password {
      margin-top: 16px;
      input {
        height: 27px;
        line-height: 25px;
        border: solid 1px #DDD;
        outline: none;
        width: 280px;
        border-radius: 3px;
        padding: 0 10px;
      }
    }
  }
  .sign {
    position: absolute;
    font-size: 100px;
    line-height: 120px;
    right: 0px;
    padding: 0 20px;
    top: 0;
  }
}