.post-detail-con{
      max-width:800px;
      margin-left:80px;
}
.post-detail-con img{
	max-width:50%;
}

.post-detail-con .comment_con{
	border: 1px solid #d9d9d9;
	margin:20px 0;
	padding:10px;
}
.post-detail-con .post-title{
	font-weight: bold;
	margin:10px 0;
	clear:both;
}
.post-detail-con .post-user{
	float:left;
}
.post-detail-con .post-info{
	 float:right;
}

.post-detail-con .post-info >*{
	 margin:0 5px;
}
.post-user .user_info{
	width: 170px;
    display: inline-block;
}
.post-user .user_info img{
     width:30px;
}
.comment_con .user_avatar img{
	 width:30px;
}
.post-user .user_info >*{
	float:left;
}
.post-user .user_info >span{
	margin-left:8px;
	margin-top: -2px;
}
