.msg-line {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -120px;
  min-width: 240px;
  height: 21px;
  background-color: rgba(83, 94, 110, .88);
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #D7D7D7;
}

.admin-panel {
  width:1100px;
  margin: 110px auto 0;

  .admin-list {
    width: 100%;
    min-height: 808px;
    padding: 0 60px;
    list-style: none;
    overflow: auto;

    li {
      float: left;
      width: 80px;
      height: 125px;
      margin: 0 100px 40px 0;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;

      &:nth-child(6n) {
        margin-right: 0;
      }

      &:nth-child(30+n) {
        margin-bottom: 90px;
      }

      img {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
        border-radius: 50%;
      }
    }
  }
}

//Invite Dialog
.invite-dialog {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  width: 450px;
  height: 191px;
  padding:20px 30px;
  margin-left: -225px;
  box-shadow:1px 1px 5px #5D5858;
  background-color: #fff;
  z-index: 99;
  font-size: 17px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #2fa9bd;
    padding-left: 8px;
    margin-bottom: 20px;

    &:focus{
      outline: none;
    }
  }

  .handle-area button{
    width: 120px;
    height: 36px;
    border: 0;
    background-color: #2fa9bd;
    color: #fff;
    line-height: 36px;
    text-align: center;

    &:focus {
    outline: none;
}
  }

  .handle-area span{
    margin-left: 25px;
    color: #9ca5b2;
    font-size: 13px;
  }

  .delete-btn {
    position: absolute;
    top:0;
    right: 0;
    margin: -8px -8px 0 0;
    z-index: 101;
  }
}

.invite-dialog.show {
  display: block;
}

//member edit panel
.member-edit-container {
  width: 1000px;
  min-width: 1000px;
  min-height: 808px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  overflow: auto;

  .member-edit-title {
    margin: 38px 0;
    font-size: 20px;
    font-weight: 500;
  }

  .member-sub-title {
    margin-bottom: 12px;
    font-weight: 500;
  }

  .remove-member-panel {
    margin-bottom: 38px;
    p {
      color: #C8C8C8;
      margin-bottom: 5.5px;
    }

    a {
      color: #FA5454;
    }
  }

  .priority-panel {
    margin-bottom: 38px;

    input[type='radio'] {
      margin: 0 2px;
    }
  }

  .involve-projects {
    margin-bottom: 38px;
    overflow: auto;

    .projects-list {
      width: 100%;
      li {
        width: 25%;
        float: left;
        margin-bottom: 6px;
      }
    }
  }

  .save-edit {
    width: 102px;
    height: 36px;
    line-height: 36px;
  }

  .member-edit-btn {
    background-color: #2FA9BD;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: #43BFD3;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: #1D8596;
    }
  }

  .delete-member-dialog {
    display: none;
    position: fixed;
    top: 230px;
    left: 50%;
    margin-left: -165px;
    width: 330px;
    height: 170px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow:1px 1px 5px #5D5858;
    z-index: 99;

    h4 {
      margin: 24px 0 13.5px 27px;
      font-weight: 400;
    }

    p {
      margin: 0 0 21px 27px;
      width: 291px;
    }

    button {
      width: 90px;
      height: 27px;
      margin-left: 27px;
      line-height: 27px;
    }

    a {
      margin-left: 20px;
      color: #9CA5B2;
      font-size: 12px;
    }

    img {
      position: relative;
      float: right;
      top: -10px;
      right: -10px;
    }
  }

  .delete-member-dialog.show {
    display: block;
  }
}
