$bordercolor: #09C;

.viewcount-tab-content {
    padding-bottom: 30px;
    .viewcount-chart-area {
        position: relative;
        .viewcount-chart {
            width: 100%;
            height: 400px;
            .chart-tooltip {
                height: 24px;
                line-height: 24px;
                margin: 3px 0;
                .chart-tooltip-name {
                    width: 50px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 3px;
                    margin-right: 3px;
                }
                .chart-tooltip-time {
                    display: inline-block;
                    border-radius: 3px;
                    margin-right: 3px;
                    padding: 0 3px;
                    background: rgba(255, 255, 255, .3)
                }
            }
        }
        .viewcount-chart-top-opt {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0 0 10px;
            .ant-calendar-picker {
                width: 200px;
                margin-right: 30px;
            }
        }
        .ant-switch {
            margin-right: 5px;
            vertical-align: middle;
        }
        .switch-label {
            vertical-align: middle;
            margin-right: 20px;
        }
        .viewcount-chart-bottom-opt {
            padding: 0 0 0 10px;
            .viewcount-chart-bottom-mode {
                margin-right: 20px;
            }
            .opt-detail {
                display: none;
            }
        }
        .viewcount-chart-bottom-opt>div {
            display: inline-block;
        }
    }
    
    .viewcount-tab-h3 {
        margin: 30px 0 15px 0;
    }
    .viewcount-analysis {
        height: 250px;
        .viewcount-analysis-chart,
        .clearfix {
            height: 250px;
            float: left;
            box-sizing: border-box;
            td.table1Columns-name,
            th.table1Columns-name {
                text-align: center;
            }
            td.table1Columns-increase,
            td.table1Columns-total,
            td.table1Columns-increasespeed,
            th.table1Columns-increase,
            th.table1Columns-total,
            th.table1Columns-increasespeed {
                text-align: right;
            }
            .ant-table-body {
                height: 200px;
            }
        }
        .viewcount-analysis-chart {
            width: 30%;
        }
        .clearfix {
            width: 70%;
        }
        .chart1 {
            display: none;
        }
    }
    td.table2Columns-increase,
    td.table2Columns-increasep,
    td.table2Columns-total,
    td.table2Columns-totalp,
    th.table2Columns-increase,
    th.table2Columns-increasep,
    th.table2Columns-total,
    th.table2Columns-totalp {
        text-align: right;
    }
}
@for $i from 0 through 1 {
.viewcount-tab-content.mode-#{$i} {
    .mode-#{$i} {
        display: block !important;
    }
}
}