.join-approve-container {
  width: 1020px;
  min-width: 1020px;
  min-height: 808px;
  margin: 0 auto;
  padding-left: 3px;
  overflow: auto;

  h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 36px 0;
  }

  .approves-list {
    margin-bottom: 36px;

    li {
      position: relative;
      margin-bottom: 15px;
      height: 60px;

      input[type='radio'] {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        margin-right: 20px;
      }

      img {
        width: 60px;
        height: 60px;
        margin: 0 20px 0 30px;
      }

      .content-container {
        position: relative;
        top: 5px;
        display: inline-block;
        height: 100%;
        vertical-align: bottom;

        h3{
          font-size: 15px;
          font-weight: 400;
        }

        p{
          font-size: 13px;
          color:#999;
        }
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #E7E7E7;
    margin-bottom: 30px;
  }

  .approve-submit-area {
    margin-bottom: 270px;
    input[type='radio'] {
      margin-right: 5px;
    }

    span {
      margin-right: 30px;
    }

    .approve-btns {
      width: 90px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      color: #fff;
      font-size: 13px;
      border: none;

      &:focus{
        outline: none;
      }
    }

    .approve-agree {
      background-color: #2FA9BD;
      margin-right: 16px;

      &:hover {
        background-color: #43BFD3;
      }

      &:active {
        background-color: #1D8596;
      }
    }

    .approve-reject {
      background-color: #FC7070;

      &:hover {
        background-color: #ff9494;
      }

      &:active {
        background-color: #c24f4f;
      }
    }
  }

  .reject-dialog {
    display: none;
    position: fixed;
    top: 230px;
    left: 50%;
    margin-left: -165px;
    width: 330px;
    height: 105px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow:1px 1px 5px #5D5858;
    z-index: 99;

    h4 {
      margin: 24px 0 13.5px 27px;
      font-weight: 400;
    }

    button {
      width: 90px;
      height: 27px;
      margin-left: 27px;
      line-height: 27px;
    }

    a {
      margin-left: 20px;
      color: #9CA5B2;
      font-size: 12px;
    }

    img {
      position: relative;
      float: right;
      top: -10px;
      right: -10px;
    }

    .reject-btn {
      background-color: #2FA9BD;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 3px;

      &:hover {
        background-color: #43BFD3;
      }

      &:focus {
        outline: none;
      }

      &:active {
        background-color: #1D8596;
      }
    }
  }

  .reject-dialog.show {
    display: block;
  }
}

.join-approve-detail-container {
  width: 1020px;
  min-width: 1020px;
  min-height: 808px;
  margin: 0 auto;
  padding-left: 3px;
  overflow: auto;

  h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 36px 0;
  }

  .approve-detail-list {
    margin-bottom: 21px;
    font-size: 14px;
    li {
      position: relative;
      margin-bottom: 20px;

      .main-detail-container {
        margin-bottom: 22px;
        height: 45px;

        img {
          width: 45px;
          height: 45px;
          margin-right: 15px;
        }

        .content-container {
          position: relative;
          top: 2px;
          display: inline-block;
          height: 100%;
          vertical-align: top;
          margin-right: 90px;

          h3{
            font-size: 15px;
            font-weight: 400;
          }

          p{
            font-size: 13px;
            color:#999;
          }
        }

        .role-container {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          vertical-align: top;

          input[type='radio'] {
            width: 14px;
            height: 14px;
            margin-right: 9px;
            line-height: 45px;
          }

          .span-divide {
            margin-right: 42px;
          }
        }
      }

      .projects-container {
        margin-bottom: 25px;
        h3 {
          margin-bottom: 15px;
        }

        input[type='checkbox'] {
          margin-right: 7.5px;
        }

        .checkbox-label {
          margin-right: 78px;
        }
      }

      .item-divide {
        border: none;
        border-top: 1px solid #e7e7e7;
      }
    }
  }
  .approve-detail-btn {
    width: 90px;
    height: 27px;
    margin-bottom: 180px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border: none;
    background-color: #2FA9BD;
    margin-right: 16px;

    &:hover {
      background-color: #43BFD3;
    }

    &:active {
      background-color: #1D8596;
    }

    &:focus{
      outline: none;
    }
  }
}

.approve-all-container {
  height: 808px;

  h1 {
    padding-top: 150px;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #2FA9BD;
  }

  img{
    display: block;
    width: 135px;
    height: 135px;
    margin: 48px auto 54px;
  }

  p {
    font-size: 24px;
    text-align: center;
    color: #999;

    a {
      color: #2FA9BD;
    }
  }
}
