.search-area {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
  display: table;
  background: #3b485b;

  .search-info {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    pointer-events: none;
  }

  p {
    width: 465px;
    margin: 0 auto;
    padding-bottom: 60px;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  .search-form {
    width: 570px;
    height: 40px;
    margin: 0 auto;


    .search-input {
      float: left;
      width: 450px;
      height: 100%;
      padding-left: 15px;
      margin-right: 17px;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #c8c8c8;
      opacity: .7;
      font-size: 17px;
      line-height: 40px;
      pointer-events: all;

      &:focus {
        outline-width: 0;
      }
    }

    .search-btn {
      float: left;
      width: 100px;
      height: 100%;
      margin: 0;
      border: 0;
      border-radius: 3px;
      box-shadow: 0px 10px 30px rgba(54, 179, 185, .7);
      background-color: #2da7ad;
      color: #fff;
      font-size: 17px;
      pointer-events: all;
    }
  }
  .home-canvas {
    overflow: hidden;
    width: 100%;
    height: 680px;
    position: absolute;
    .canvas-app {
      margin: 0 auto;
      canvas, &>div {
        // top: 0;
        // left: 50%;
        // transform: translateX(-50%);
      }
    }
  }
}

.users-show {
  width: 100%;
  height: 400px;

  .ad-title {
    font-size: 27px;
    font-weight: bolder;
    color: #555;
    padding-top: 49px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
  }

  .ad-description {
    font-size: 17px;
    color: #999;
    margin: 0;
    margin-bottom: 63px;
    text-align: center;
  }

  .user-list {
    width: 1100px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    overflow: auto;

    li {
      float:left;
      width: 150px;
      height: 50px;
      margin: 0 86px 0 0;
      padding: 0;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:nth-child(n+6) {
        margin-top: 42px;
      }
    }
  }
}
