/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bagua {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 150px;
  height: 50px;
}
.icon-baozou {
  background-image: url(sprite.png);
  background-position: 0px -50px;
  width: 150px;
  height: 50px;
}
.icon-big {
  background-image: url(sprite.png);
  background-position: 0px -100px;
  width: 150px;
  height: 50px;
}
.icon-chengxiang {
  background-image: url(sprite.png);
  background-position: -150px 0px;
  width: 150px;
  height: 50px;
}
.icon-feidie {
  background-image: url(sprite.png);
  background-position: -150px -50px;
  width: 150px;
  height: 50px;
}
.icon-guamo {
  background-image: url(sprite.png);
  background-position: -150px -100px;
  width: 150px;
  height: 50px;
}
.icon-hexiangu {
  background-image: url(sprite.png);
  background-position: 0px -150px;
  width: 150px;
  height: 50px;
}
.icon-huaxiubang {
  background-image: url(sprite.png);
  background-position: -150px -150px;
  width: 150px;
  height: 50px;
}
.icon-niunan {
  background-image: url(sprite.png);
  background-position: 0px -200px;
  width: 150px;
  height: 50px;
}
.icon-papi {
  background-image: url(sprite.png);
  background-position: -150px -200px;
  width: 150px;
  height: 50px;
}
