.search-author {
  padding: 30px;
  .search-title {
    padding: 0 35px;
    span.q {
      display: inline-block;
      color: #2da7ad;
      font-size: 30px;
      padding: 0 10px;
    }
  }
  .author-container {
    float: left;
    text-align: center;
    width: 25%;
    .author {
      width: 160px;
      height: 240px;
      margin: 20px auto;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      overflow: hidden;
      cursor: pointer;
      .avatar {
        height: 200px;
        width: 160px;
        text-align: center;
        overflow: hidden;
        img {
          height: 200px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .name {
        line-height: 40px;
      }


    }

  }
  .video-empty {
    height: 300px;
    line-height: 300px;
    border: dashed 1px #d9d9d9;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
}