.group-posts{
     .post-title {
     	  display: inline-block;
     	  height: 41px;
     	  overflow: hidden;
     	  word-break: break-all;
      	  img{
	      	  width: 41px;
	      	  height: 41px;
	      	}
      }
}

