$background: #3B485B;
$background2: #425367;
$hovercolor: #424e63;
$subtitlebackground: #344051;
$color: #fff;
$iconcolor: #aeb9c2;
$activeiconcolor: #fff;
$navWidth: 180px;

.ie .left-nav-tip {
    display: none;
}
.ie .ant-menu-item-active .left-nav-tip {
    display: block;
}
.left-nav-container.left-nav-full {
    width: $navWidth;

    .left-nav-menu-item {
        width: $navWidth !important;
        display: inline-block !important;
    }
    .left-nav-tip {
        display: none !important;
    }
    .left-nav-menu-item-title {
        display: inline !important;
    }
    .left-nav-menu-title {
        display: inline-block !important;
    }
}
.left-nav-container {
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 0;
    width: 50px;
    background-color: $background !important;
    z-index: 100;
    transition-duration: .3s;
    transition-property: width;
    padding: 0 0 50px 0;
    .ant-menu-item,.ant-menu {
        border-right: 0;
    }
    .project-title {
      position: relative;
      overflow: hidden;
      height: 190px;
      text-align: center;
      color: #fff;
      .project-opt-area {
        height: 60px;
        line-height: 60px;
        text-align: right;
        padding: 0 10px;
        span {
          cursor: pointer;
          color: #A7A7A7;
          margin: 0 10px;
          font-size: 20px;
        }
      }
      .project-image {
        height: 70px;
        img {
          height: 70px;
        }
      }
      .project-name {
        width: auto;
        height: 60px;
        line-height: 60px;
        position: relative;
        white-space: nowrap;
        width: 100%;
        div {
          font-size: 23px;
          padding: 0 20px;
          position: absolute;
          min-width: $navWidth;
          animation: projectTitleAnime 10s linear 0s infinite alternate;
        }
      }
    }
    .left-nav-tip {
        height: 100%;
        position: absolute;
        top: 0;
        left: 60px;
        opacity: 0;
        transition: all ease 0.3s;
        transform: translateX(10px);
        pointer-events: none;

        .left-nav-tip-arrow,.left-nav-tip-text {
            display: inline-block;
        }
        .left-nav-tip-arrow {
            width:0;
            height:0;
            border-top:6px solid transparent;
            border-bottom:6px solid transparent;
            border-right:6px solid $background2;
            vertical-align: middle;
        }
        .left-nav-tip-text {
            background: $background2;
            padding: 0 20px;
        }
    }

    .left-nav {
        background-color: $background !important;
        color: $color;

        .ant-menu-submenu {
            background-color: $background2;
            .left-nav-menu-title {
                width: $navWidth - 50px;
                padding-left: 15px;
                display: none;
            }
            .ant-menu-submenu-title {
                padding: 0 !important;
                height: 40px;
                line-height: 40px;
                border-bottom: solid 1px $hovercolor;
            }
            .ant-menu-submenu-title:hover {
                background-color: $hovercolor !important;
                border-bottom: solid 1px $hovercolor !important;
            }
            .ant-menu-submenu-title:after {
                width: 50px;
                position: static !important;
            }
        }
        .ant-menu-submenu.ant-menu-submenu-open {
            background-color: $subtitlebackground;
            .ant-menu-submenu-title {
                border-bottom: solid 1px $subtitlebackground;
            }
        }

        .ant-menu-sub {
            background-color: $background;
            .ant-menu-item {
                height: 40px !important;
                line-height: 40px !important;
                color: $color;
                padding: 0;
                padding-left: 0 !important;
                border-right: 0 !important;
                margin-left: 0;
                position: relative;
                left: 0;

                a {
                    color: $color;
                    display: inline-block;
                }
                .left-nav-menu-item {
                    font-size: 12px;
                    font-weight: 500;
                    width: 50px;
                }
                span {
                    vertical-align: middle;
                }
                .index-iconfont {
                    width: 50px;
                    display: inline-block;
                    text-align: center;
                }
                .index-iconfont:before {
                    font-size: 20px;
                    color: $iconcolor;
                }
                .left-nav-menu-item-title {
                    display: none;
                }
            }
            .ant-menu-item-active {
                background-color: $hovercolor;

                .left-nav-tip {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            .ant-menu-item-selected {
                border-right: 0;
                background: $background2;

                .index-iconfont:before {
                    color: $activeiconcolor;
                }
            }
        }
    }
}

@font-face {font-family: "indexiconfont";
  src: url('./../../../assets/font/index-iconfont.eot'); /* IE9*/
  src: url('./../../../assets/font/index-iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../../../assets/font/index-iconfont.woff') format('woff'), /* chrome, firefox */
  url('./../../../assets/font/index-iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../../../assets/font/index-iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.index-iconfont {
  font-family:"indexiconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-video:before { content: "\e600"; }
.icon-admin:before { content: "\e601"; }
.icon-series:before { content: "\e602"; }
.icon-statistics:before { content: "\e605"; }
.icon-custom:before { content: "\e606"; }
.icon-lunbotu:before { content: "\e607"; }
.icon-shuijun:before { content: "\e608"; }
.icon-version:before { content: "\e609"; }
.icon-app:before { content: "\e60a"; }
.icon-group:before { content: "\e60b"; }
.icon-setting:before { content: "\e60c"; }
.icon-member:before { content: "\e60d"; }

@keyframes projectTitleAnime
{
  0% { transform: translateX(0px) }
  50% { transform: translateX(0px) }
  75% { transform: translateX(calc(180px - 100%)) }
  100% { transform: translateX(calc(180px - 100%)) }
}