.data-statistics-panel {
    position: relative;
    overflow: hidden;
    .data-statistics-selector {
        position: absolute;
        right: 0px;
        top: 4px;
        height: 28px;
        line-height: 26px;
        width: 320px;
        z-index: 9999;
        transform: translateX(200px);
        transition: all ease 300ms;
        .data-statistics-video-selector {
            opacity: 0;
            button {
                top: 0 !important;
            }
            position: absolute;
            right: 5px;
            top: 0;
        }
        &.show {
            transform: translateX(0);
            .data-statistics-video-selector {
                opacity: 1;
            }
        }
        
    }
    .data-statistics-tab {
        .ant-tabs-content {
            padding: 0 20px;
        }
    }
}