.app-pack-panel{
	 margin-top: 20px;
	 min-height: 20px;
	 .move-left-leave-active,.move-right-leave-active,.move-right-enter,.move-left-enter{
	 	display: none;
	 }
	 .move-left-enter-active,.move-right-enter-active{
	 	display: block;
	 }
}
.app-pack-steps{
    margin: 30px auto;
    width: 700px;

    button{
    	 margin-top: 20px;
    	 margin-right: 10px;
    }
}