.app-pack-app-show{
     margin: 50px auto;
     width: 700px;
     hr{
     	margin: 50px 0;
     }
    .app-info{
    	width: 400px;
    	margin: 0 auto;
    	font-size: 24px;
    	font-weight: lighter;
    	text-align: center;
    	position: relative;
    	.app-edit-btn{
    		position: absolute;
    		top:0px;
    		right: 50px;
    		font-size: 18px;
    	}
    	img{
    		width: 80px;
    		height: 80px;
    		border-radius: 8px;
    	}
    	.app-name{
    		margin-top: 20px;
    		margin-bottom: 0;
    		span{
    			margin-left: 20px;
    		}
    	}
    	.app-version{
    		margin-top: 0px;
    		margin-bottom: 20px;
    	}
    	hr{
    		width: 70%;
    		margin: 10px auto;
    	}
    	.app-create-time{
    		margin-top: 30px;
    	}
    	.app-status{
            margin: 20px;
            span{
               &.error{
                  color: #f50;
               }
               &.pending{
                  color: #2db7f5;
               }
               &.running{
                  color: #2db7f5;
               }
               &.success{
                  color: rgb(40,207,66);
               }
            }
    	}
        button{
      	  font-size: 18px;
      	  margin-top: 20px;
      	  padding: 5px 25px;
        }
    }
}
