.app-pack-submit{
     margin: 50px auto;
     width: 700px;
     form{
     	margin-top: 20px;
     }
     button{
         margin-right: 40px;
     }
}
#app-icon-pack{
	 width: 100px;
	 height: 100px;
}
