.app-pack-choose-platform{
     margin: 50px auto;
     width: 700px;
     .platform-type{
         margin-left: -10px;
         margin-top: 20px;
         >*{
             background: white;
             border: 1px solid #dddddd;
             position: relative;
             &.chosen{
                 border-color:#2fbe83;
             }
             &.disabled{
                border-color: transparent !important;
             }
             &.disabled:before{
                     
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #dddddd;
                    position: absolute;
                    display: block;
                    opacity: .5;
             }
             text-align: center;
             i{
                margin-top: 40px;
                &.anticon-android{
                   color: rgb(164,202,82);
                }
                &.anticon-apple{
                   color: rgb(240,203,191);
                }
                font-size: 140px;
             }
             p{
                font-size: 20px;
                margin-top: 40px;
             }
             float: left;
             margin-left: 10px;
             height: 300px;
             width:  300px;
         }
     }
     button{
       margin-top: 30px;
     }
}
