.video-search {
  text-align: center;
  .video-text {
    width: 300px;
    margin-right: 30px;
  }
  .video-bt {

  }
  .video-search-result {
    .search-video-container {
      float: left;
      text-align: center;
      width: 25%;
      .search-video {
        width: 160px;
        height: 240px;
        margin: 20px auto;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        overflow: hidden;
        cursor: pointer;
        .thumbnail {
          height: 200px;
          width: 160px;
          text-align: center;
          overflow: hidden;
          img {
            height: 200px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .title {
          line-height: 40px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 10px;
        }


      }
    }
  }
  .video-empty {
    display: none;
    height: 300px;
    line-height: 300px;
    border: dashed 1px #d9d9d9;
    border-radius: 5px;
    margin-top: 50px;
  }
  .video-search-area {
    margin-top: 0;
    transition: all 300ms ease-in;
  }
  &.empty{
    .video-search-area {
      margin-top: 100px;
    }
    .video-empty {
      display: block;
    }
  }
}