/**  panel top bar **/

.panel-title {
  float: left;
  font-weight: bolder;
  margin-left: 20px;
}
.panel-top-bar {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 5px;
}

/** breadcrumb **/

.ant-breadcrumb.custom{
    margin: 20px;
    margin-bottom:20px;
}
.ant-breadcrumb.custom a{
   color: #2FA9BD;
   &:hover{
     color: #43BFD3;
   }
}

/** antable **/

.ant-table table {
  width: 97% !important;
  margin: 0 auto !important;
}
.ant-table-placeholder{
    left: 1.5%;
    width: 97%;
}
.ant-table-pagination {
  float:left !important;
  margin: 35px 0 !important;
  margin-left: 1.5% !important;
}
.ant-table {
  font-size: 14px;
}
.ant-table td{
    max-width:200px;
}
.ant-table tr th {
  text-align: left;
}

/** antModal **/
.ant-modal-mask{
   z-index: 2010;
}
.ant-modal{
    z-index: 2011;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    border-radius: 4px;
    .ant-modal-body{
      .ant-btn-primary{
        float: left;
        margin-right: 8px;
     }
   }
}
.ant-modal-close{
   color: #000 !important;
}
.ant-modal-close-x{
   top: -6px;
   right: -4px;
   font-size: 16px;
}
.ant-modal-close-x:before {
    content: "\E631";
}
.ant-modal-footer{
   text-align: left;
   .ant-btn-primary{
      float: left;
      margin-right: 8px;
   }
}

/** antSelect **/
.ant-select-dropdown{
   z-index: 2012;
}

/** icon **/
.anticon-null{
   display: none;
}

/** antConfirm **/
.ant-confirm .ant-confirm-body .ant-confirm-content{
     margin-left: 0px;
}


