$navWidth: 180px;
$pageMinWidth: 1100px;

body {
 height: auto !important;
 font-family: PingFangSC-Regular;
}
.opt-area {
    /* position: absolute; */
    width: 100%;
   /*  top: 50px;
    bottom: 0px;
    z-index: 100; */
}
.opt-container.side-bar-full {
    /* left: 180px; */
    margin-left: $navWidth;
    min-width: $pageMinWidth - $navWidth;
}
.opt-container {
   /*  position: absolute; */
    width: auto;
    /* left: 50px;
    top: 0;
    bottom: 0px;
    right: 0px; */
    overflow-y: auto;
    background: #FFF;
    transition-duration: .3s;
    transition-property: left;
    overflow-x: hidden;
    margin-top: 50px;
}

.top-nav-con +div{
    margin-top: 50px;
}

.left-nav-container .left-nav .ant-menu-sub .ant-menu-item .left-nav-menu-item  {
  font-size: 14px !important;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  font-size: 14px !important;
}

.ant-message{
    z-index: 2010 !important;
}

.thumbnail {
   width: 80px;
   height: 45px;
}
.group-avatar{
      width: 60px;
      height: 60px;
}

.file-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 10px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.file-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.file-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.invisible{
     display: none;
}

.ant-notification {
    z-index: 9999;
}

.ant-dropdown {
    z-index: 9999;
}