.comments-list-con .ant-collapse > .ant-collapse-item > .ant-collapse-header{
		height: auto;
}
.comments-list-con{
		padding:20px 15px;
}
.video-con{	
	.comments-title{
		margin-bottom:10px;
	}
	.comment_con >*{
		text-align:left;
		display: inline-block;
		vertical-align: text-top;
	}
	.comment_con .user_avatar img{
		width:36px;
	}
	.comment_content{
		margin-left:20px;
		max-width: 90%;
	}
	.comment_content p{
		line-height: 20px;
		img{ width: 50px;}
	}
	.reply-str{
		margin:0 10px;
	}
	.comments-pagination{
		  margin-top:10px;
	}
	.vote-count{
		margin-left:2px;
		margin-right:5px;
	}
}
.reply-view{
	border: 1px solid #d9d9d9;
	padding: 10px 20px;
	margin-top: 20px;
}
.ant-select-dropdown{
	z-index: 1090;
}