html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url('./../../assets/image/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
* {
  box-sizing: border-box;
}

#block, #login {
  height: 100%;
}
/* header */
#header
{
    width: 100%;
    background-color: rgba(10,10,10,0.2);
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0px;
    padding: 0 20px;
    z-index: 1000;
}
#header img
{
    height: 35px;
    vertical-align: middle;
}
/* footer */
#footer
{
    position: fixed;
    background-color: rgba(10,10,10,0.2);
    bottom: 20px;
    width: 100%;
    color: #eee;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
}
#footer .right,
#footer .left
{
    position: absolute;
    height: 30px;
    bottom: 0;
    line-height: 30px;
}
#footer .right
{
    right: 0;
}
#footer .left
{
    left: 0;
}
#footer a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
#footer .right a
{
    margin-right: 20px;
}
#footer .left a
{
    margin-left: 20px;
}
/* container */
#container
{
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
/* content */
#content
{
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    height: 300px;
    padding: 0;
    border: 0;
}
/* dialog */
#loginDialog
{
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    text-align: center;
    background-color: rgba(50,50,50,0.6);
    padding: 20px 40px 40px 40px;
    position: relative;
    z-index: 1000;
}
#wangnima,
#loginDialog .ld-input-part,
#loginDialog .ld-msg
{
    margin-bottom: 20px;
}
#loginDialog input
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    outline: none;
    border: none;
    text-align: center;
}
#loginDialog .ld-divid
{
    height: 1px;
    width: 100%;
    background: #ddd;
}
#loginDialog .ld-input-part
{
    overflow: hidden;
    border-radius: 3px;
}
#loginDialog .ld-submit
{
    color: #fff;
    background-color: rgba(90,225,125,0.9);
}
#loginDialog .ld-submit:hover
{
    background-color: rgba(90,225,125,1);
}
#loginDialog .ld-msg
{
    color: orangered;
    font-weight: bold;
}
/* particles */
.particles-js-canvas-el
{
    position: absolute;
    top: 0;
    left: 0;
}
/* moving face */
#wangnima
{
    position: relative;
}
.wnm-eye-l,
.wnm-eye-r
{
    position: absolute;
    height: 0;
    width: 0;
}
.wnm-eye-l
{
    top: 69px;
    left: 111px;
}
.wnm-eye-r
{
    top: 74px;
    left: 176px;
}
.wnm-eye-pupil
{
    position: absolute;
    background: #000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}
/* font */
@font-face {font-family: "iconfont";
  src: url('./../../assets/font/login-iconfont.eot'); /* IE9*/
  src: url('./../../assets/font/login-iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../../assets/font/login-iconfont.woff') format('woff'), /* chrome, firefox */
  url('./../../assets/font/login-iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../../assets/font/login-iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-apple:before { content: "\e600"; }
.icon-xlweibo:before { content: "\e601"; }
.icon-android:before { content: "\e602"; }
.icon-qqweibo:before { content: "\e603"; }
