.datetime-picker {
  .ant-tabs-nav-container {
    min-height: 160px;
  }
  .datetimep-quick-content {
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
    .datetimep-quick-col {
      float: left;
      margin-right: 25px;
      li {
        cursor: pointer;
        &:hover {
          color: #57c5f7;
        }
      }
    }
  }
  .datetimep-relative-content {
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
    .datetimep-relative-text {
      font-weight: bold;
    }
    div {
      margin-bottom: 20px;
    }
  }
}