.series-con{
    margin: 0 20px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: 20px 0;
    margin-bottom:30px;
}
.series-con .ant-form-horizontal{
	 max-width:540px;
}
.series-con .ant-form-horizontal .ant-form-item{
	margin: 10px 20px;
}
#seriesForm img{
	max-width:448px;
}
