.navy-header {
  margin-top: 20px;
  margin-bottom: 15px;
  overflow: hidden;

  h1 {
    float: left;
    font-weight: bolder;
    margin-left: 20px;
  }

  .btn{
     margin-left:20px;
     margin-top: 4px;
     font-size:14px;
  }
}

.list-avatar {
  width: 80px;
  height: 45px;
}
