$background: #cbecd9;
$line: #008fbf;
$text: #2da7ad;
$bText: #218289;


.top-nav-con{
    background:$background;
    width: 100%;
    min-width: 1100px;
    height: 50px !important;
    position: fixed;
    top: 0;
    z-index: 2009;
}

.top-nav.nav-full .logo-bt {
    width: 180px;
    font-size: 25px;
    line-height: 1.4;
    margin-top:10px;
    .app-logo {
      height: 35px;
      width: auto;
    }
}
.top-nav {
   line-height: 50px;
   width:1100px;
   margin:0 auto;
   font-size: 16px;
  .top-right-info{
      float:right;
      margin-right:1.5%;
      margin-top:17px;
      line-height: 1.4;
      .user-name{
         margin-right:10px;
      }
      a{
         cursor: pointer;
      }
  }
  .top-left-info{
      float:left;
      margin-left:1.5%;
      margin-top:17px;
      line-height: 1.4;
      >*{
         margin-right:20px;
      }
      a{
          &.current{
             color:$bText;
          }
      }
  }

   a{
       color:$text;
       &:hover{
              color:$bText;
       }
   }

  .ant-select-selection{
    background: $background;
    border: none;
    box-shadow: none !important;
    font-size: 16px;
    color: $text;
    &:hover{
        color:$bText;
    }
  }

  .nav-search-input{
     width:200px;
     top: -3px;
  }
  .nav-search-input-btn{
      margin-left: -37px;
      position: relative;
      top:-3px;
      background: transparent;
      border: none;
      &:hover,&:active,&:focus{
        background: transparent;
      }
      i{
         color: rgb(0,141,147);
         font-size: 17px;
      }
  }

  .app-logo {
    height: auto;
    width: 50px;
    vertical-align: middle;
  }

  .logo-bt {
    display: block;
    // width: 50px;
    float: left;
    text-align: center;
    /*border-right: $line solid 1px;*/
  }

  .ant-select-selection{
     min-width: 80px;
     max-width: 170px;
  }

}

.nav-text {
  color: $text;
  line-height: 50px;
}
// .ant-select-dropdown{
//      min-width: 80px;
//      max-width: 170px;
//      text-align: center;
//      position: fixed !important;
//      .ant-select-dropdown-menu-item{
//          a{
//              color:#565656 !important;
//              white-space: nowrap;
//              text-overflow: ellipsis;
//              overflow: hidden;
//              display: block;
//          }
//          .add-team-btn{
//              color: #2da7ad !important;
//          }
//      }
//   }
