.app-custom-bottomItems-addone {
    max-width: 500px;
    border-radius: 1px;
    border: dashed #57c5f7 1px;
    margin: 15px 0;
    color: #57c5f7;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}