.app-custom-panel {
    position: relative;
    .app-custom-left {
        padding: 20px 340px 20px 20px;
    }
    .app-custom-opt {
        margin-top: 30px;
        .app-custom-opt-group {
            margin-top: 30px;
            .app-custom-opt-title {
                font-size: 24px;
                .anticon {
                    margin-right: 20px;
                }
                .anticon.anticon-question-circle-o {
                    color: #57c5f7;
                    padding: 0 5px;
                }
            }
            .app-custom-opt-item, .app-custom-opt-submit {
                margin-top: 15px;
            }
            .app-custom-opt-item {
                padding-left: 30px;
                .colorpicker {
                    margin-right: 15px;
                }
                .anticon {
                    color: #57c5f7;
                    padding: 0 5px;
                }
            }
            .app-custom-opt-submit {
                padding-left: 30px;
                button {
                    margin-right: 20px;
                }
            }
        }
    }
    .draggable-list {
        max-width: 500px;
        .draggable-list-item {
            border-radius: 8px;
            border: solid #57c5f7 1px;
            margin: 15px 0;
            overflow: hidden;
        }
        .draggable-placeholder {
            border-radius: 1px;
            border: dashed #57c5f7 1px;
            margin: 15px 0;
            color: #57c5f7;
            text-align: center;
            font-size: 24px;
            padding-top: 20px;
        }
    }
    
    .app-overview-container {
        opacity: 0;
        transform: translateX(80px);
        transition: all ease 0.5s;
        overflow: hidden;
        width: 300px;
        height: 630px;
        position: fixed;
        right: 20px;
        top: 70px;
        padding-top: 600px;
        text-align: center;
        .app-overview {
            position: absolute;
            top: 0;
            left: 4px;
        }
        .anticon {
            color: #57c5f7;
            font-size: 18px;
        }
    }
    .app-overview-container.show {
        opacity: 1;
        transform: translateX(0px);
    }
    .colorpicker {
        display: inline-block;
        vertical-align: middle;
    }
}