.app-overview {
    transform-origin: top left;
    float: left;
    
    .app-overview-content {
        position: absolute;
        width: 750px;
        height: 1334px;
        overflow: hidden;
        transform-origin: top left;
        // z-index: -1;
        
        .app-overview-element {
            position: absolute;
        }
        .app-overview-bg {
            top: 0;
            left: 0;
        }
        .app-overview-top {
            width: 100%;
            height: 128px;
            top: 0;
            left: 0;
        }
        .app-overview-loading {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 150px;
            z-index: 999;
            display: none;
            line-height: 1334px;
        }
        .app-overview-bottom {
            width: 100%;
            height: 98px;
            left: 0;
            bottom: 0;
            .app-overview-bottom-item {
                display: inline-block;
                height: 100%;
                .app-overview-bottom-item-icon {
                    height: 50px;
                    margin-top: 10px;
                    img {
                        height: 50px;
                        width: 50px;
                    }
                    img.active {
                        display: none;
                    }
                }
                .app-overview-bottom-item-title {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }
            .app-overview-bottom-item:hover {
                .app-overview-bottom-item-icon {
                    img.normal {
                        display: none;
                    }
                    img.active {
                        display: inline;
                    }
                }
            }
        }
    }
}
.app-overview.loading {
    .app-overview-loading {
        display: block !important;
    }
    .app-overview-bg, .app-overview-top {
        display: none !important;
    }
}
.white .app-overview-top {
    background-position: 0 0;
}
.black .app-overview-top {
    background-position: 0 -128px;
}