.-icon-preview {
    .col-8 {
        text-align: center;
        line-height: 50px;
        font-size: 26px;
        * {
            vertical-align: middle;
        }
        .ant-upload.ant-upload-select-picture-card {
            height: 50px;
            width: 50px;
            padding: 0;
            i {
                font-size: 20px;
                color: #999;
            }
        }
    }
}
.bottom-item-icon {
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    .bottom-item-icon-img {
      height: 40px;
    }
    .bottom-item-icon-title {
      height: 20px;
      line-height: 20px;
    }
    .bottom-item-icon-add-bt {
      height: 40px;
      width: 40px;
      border: 1px dashed #d9d9d9;
      border-radius: 5px;
      color: #9E9E9E;
      transition: border-color 0.3s ease;
      .anticon {
        line-height: 38px;
      }
    }
    .bottom-item-icon-add-bt:hover {
      border-color: #2db7f5;
      color: #666;
    }
}