.app-custom-bottomItems-block {
    background: #fff;
    .app-custom-bottomItems-block-title {
        background: #57c5f7;
        color: #fff;
        padding: 5px 5px 5px 15px;
        font-size: 16px;
        .anticon {
            color: #fff !important;
            cursor: pointer;
        }
        .editable-label {
          .ant-search-btn .anticon {
            color: #666;
            padding: 0;
          }
        }
        .app-custom-bottomItems-block-delete {
          float: right;
        }
    }
    .app-custom-bottomItems-block-setting {
        padding: 15px;
        .app-custom-bottomItems-block-setting-item {
            margin: 10px 0;
        }
    }
}