.icon-pool-item-add-modal {
    .col-6 {
        text-align: right;
    }
}
.icon-pool {
    .icon-pool-item, .icon-pool-item-add {
        border: 1px solid #d9d9d9;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 6px;
        background-color: #fbfbfb;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s ease;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        margin-bottom: 8px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #9E9E9E;
        .icon-pool-item-selected {
            display: none;
            color: #fff;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1px 3px 0 3px;
            border-radius: 6px 0 0 0;
            background: #2db7f5;
        }
    }
    .icon-pool-item.selected {
        border-color: #2db7f5;
        .icon-pool-item-selected {
            display: block;
        }
    }
    .icon-pool-item-add {
        border-style: dashed;
        .anticon {
            line-height: 40px;
            font-size: 20px;
            color: #999;
        }
    }
    .icon-pool-item:hover, .icon-pool-item-add:hover {
        border-color: #2db7f5;
        color: #666;
    }
}