.pop-out-con{
    position: relative;
}
.pop-out {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1080;
  cursor: auto;
  user-select: text;
  white-space: normal;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
}
.pop-out:after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
}
.pop-out-hidden {
  display: none;
}

.pop-out-inner {
  min-width: 177px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  padding: 0 10px;
  padding-top: 10px;
  >*{
    margin-bottom: 10px;
  }
  .anticon-exclamation-circle{
     color: #f50;
     margin-right: 5px;
  }
}
.pop-out-content {
  padding: 0px 16px;
  color: #666;
}
.pop-out-message {
  padding: 8px 0 16px;
  font-size: 12px;
  color: #666;
}
.pop-out-message .anticon {
  margin-right: 8px;
  color: #f50;
}
.pop-out-buttons {
  text-align: right;
  margin-bottom: 8px;
}
.pop-out-buttons button {
  margin-left: 8px;
}
.pop-out-arrow,
.pop-out-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.pop-out-arrow {
  border-width: 5px;
  top: -4px;
}
.pop-out-arrow:after {
  border-width: 4px;
  content: "";
}
.pop-out-placement-bottom .pop-out-arrow {
    left: 50%;
    margin-left: -5px;
    border-top-width: 0;
    border-bottom-color: #d9d9d9;
}
.pop-out-placement-bottom .pop-out-arrow:after{
    content: " ";
    top: 1px;
    margin-left: -4px;
    border-top-width: 0;
    border-bottom-color: #fff;
}
