$borderColor:#dddddd;

.project-create-con,.project-member-setting{
    	width:1022px;
    	margin:10px auto;
    	padding:10px 0px;
      min-height: 800px;
      form{
          padding: 30px 0px;
          .title{
              font-size: 18px;
              margin-bottom: 10px;
          }
           .sub-title{
                  font-size: 13px;
           }
          .project-name{
              font-size: 18px;
              margin-bottom: 20px;
              height: 44px;
              width: 520px;
          }
          .member-select{
             margin: 10px 20px 10px 0px;
             .member-avatar-opt { 
                display: none;
                +span{
                   position: static;
                }
             }
          }
          .submit-project-btn{
             font-size: 13px;
          }
          .member-card-list{
            margin-top: 20px;
              li{
                  display: inline-block;
                  width: 200px;
                  height: 70px;
                  overflow: hidden;
                  background: #CBECD9;
                  border-radius: 3px;
                  position: relative;
                  margin-right: 30px;
                  .member-mask{
                      background: rgba(0,0,0,.5); 
                      position: absolute;
                      z-index: 2;
                      width: 100%;
                      color: #FFFFFF;
                      font-size: 17px;
                      text-align: center;
                      line-height: 70px;
                      height: 0px;
                      cursor: pointer;
                      overflow: hidden;
                      transition: height .2s;
                      &.active{
                        height: 100%;
                      }
                  }
                  .member-content >*{float: left;}
                  .member-name{
                     color: #2DA7AD;
                     font-size: 13px;
                     margin-top: 9px;
                     margin-left: 5px;
                  }
                  .member-role{
                     color: #C8C8C8;
                     font-size: 12px;
                     margin-top: -7px;
                     margin-left: 5px;
                  }
                  img{
                       width: 50px;
                       height: 50px;
                       margin: 10px;
                  }
              }
          }
          .cancel-project-btn{
              margin-left: 20px;
              font-size: 13px;
              color:#B3B3B3;
          }
      }
}
.member-avatar-opt{ 
   width: 20px;
   height: 20px;
}
.member-avatar-opt +span{
    position: relative;
    left: 5px;
    top: -5px;
}

