.user-avatar-item{
	.user-avatar-icon{
	    width: 80px;
	    height: 80px;
	    border-radius: 80px;
	}
	p:first-child{
		 margin-top: 17px;
	}
	p:last-child{
		color: #bcc3cb;
	}
	p{
		margin-left: 20px;
	}

	.file-upload {
	    padding: 4px 0;
	    height: 20px;
	    line-height: 10px;
	    position: relative;
	    cursor: pointer;
	    color: #31a8be;
	    overflow: hidden;
	    display: inline-block;
	    input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
		    filter: alpha(opacity=0);
		    cursor: pointer
		}
	}
}