.project-footer {
  width: 100%;
  min-width: 1100px;
  background-color: #3b485b;
  color: #9ca5b4;

  .footer-main-area {
    width: 1100px;
    margin: 0 auto;

    .main-text-area {
      width: 100%;
      padding: 35px 0 50px;
      border-bottom: 1px solid #525f72;
      overflow: auto;

      .text-area {
        float: left;
        width: 33.3%;

        h3 {
          font-size: 17px;
          color:#fff;
          margin-top: 17px;
          margin-bottom: 30px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 22px;
          }
        }

        section, li {
          width: 80%;
          font-size: 14px;
          line-height: 21px;
        }
      }

      .qr-code-area {
        margin-top: 15px;

        span {
          float: left;
          display: table-cell;
          margin-right: 70px;
          color: #fff;
          font-weight: bolder;
          font-size: 32px;
          vertical-align: top;
        }

        img {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
}

.copyright {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
}
