$borderColor:#dddddd;

.project-setting-con{
      width:1022px;
      margin-left: 30px; 

      .title{font-size: 18px;margin-right: 20px;}
      form{
          padding: 30px 0px;
          .project-name{
              font-size: 18px;
              margin-top: 10px;
              margin-bottom: 10px;
              height: 44px;
              width: 520px;
          }
      }
      .delete-info{
           width: 1020px; 
           margin-top: 10px;
           font-size: 13px;
           a{
                float: right;
                color: #FA533D;
                font-size: 13px;
           }
      }
      
}

.ant-modal{
      .delete-info-box{
          >div{
              .title{font-size: 22px;}
              display: inline-block;
              width: 330px;
              margin-right: 20px;
              .info{
                  margin-top: 5px;
                  margin-bottom: 10px;
                  i{
                      color: #FA533D;
                  }
              }
              input{
                 width: 281px;
              }
          }
          .error-msg{
             color: rgb(255, 85, 0);
          }
          .anticon-exclamation-circle{
                  color: #FA533D;
                  font-size: 100px;
                  float: right;
                  margin-top: 20px;
                  margin-right: 15px;
          }
      }
}