.messages {
  padding: 35px 20px;
  max-width: 1100px;
  margin: 0 auto;
  .title {
    margin: 0 0 35px 0;
    font-size: 18px;
  }
  .messagebox-message {
    position: relative;
    .body {
      width: calc(100% - 100px);
      padding: 15px 0;
    }
    .time {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px 0;
      color: #9CA5B2;
    }
  }
}