.group-con .ant-table table{
      border-collapse: collapse;
}
.post-top{
	width: 97%;
    margin: 15px auto;
}
.group-post-title{
	display:inline-block;
}
.group-option {
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
}
.group-option button{
	margin-left:30px;
	font-size: 14px;
}
.group-edit-btn{
	 float:left;
}