.series-con .ant-table table{
      border-collapse: collapse;
}
.series-video-title{
	width: 97%;
    margin: 15px auto;
}
.series-option{
	height:50px;
	margin-top:20px;
}
.series-option button{
	margin-left:30px;
	margin-bottom:20px;
	font-size: 14px;
}
.series-edit-btn{
	 float:left;
}