.carousel-pics-topbar {
  margin-top: 20px;
  margin-bottom: 5px;
  overflow: hidden; 

  .panel-title {
    float: left;
    font-weight: bolder;
    margin-left: 20px;
  }

  .btn{
  	 margin-left:20px;
  	 margin-top: 4px;
  	 font-size:14px;
  }

  .ant-form-inline{
    display:inline-block;
    float: right;
    margin-right: 4%;
  }
}
