$color1: #e9ddd1;
$color2: #eee9d6;
$color3: #e4edd0;
$color4: #d9ede4;
$color5: #cfe7eb;
$color6: #d0d9ea;
$color7: #f2dde4;
$color8: #e4e4e4;

$i: 1;
.image-uploader-con{
     width:	235px;
     padding:15px 5px;
     ul{
        li{
            float:left;
            border-radius:5px;
        }
     }
}
@each $color in $color1, $color2, $color3{
    .temp-color-#{$i} { 
       background: $color;
    }
   $i:$i + 1;
}
.example-color{
    display:none;
	li{
	   width:50px;
	   height:50px;
	   margin-right:15px;
	}
}
.choose-project-image{
	li{
       width:70px;
       height:70px;
       margin-right:25px;
       text-align:center;
       cursor: pointer;
       img{
          width:65px;
          height: 65px;
       }
       &:hover,&.chosen{
          border:1px solid #39acb1;
       }
	}
	.plus-btn{
        font-size: 35px;
        display:inline-block;
        width:70px;
        height:70px;
        border: 1px dashed #e0e0e0;
        border-radius:5px;
        background:#f6f6f6;
        text-align:center;
        .project-image-file{
          	position: absolute;
    		    height: 70px;
    		    width: 70px;
    		    opacity: 0;
            cursor: pointer;
        }
        i{
            margin-top:15px;
            font-weight:bold;
        }
	}
}
.ant-tooltip{
  left: 76px;
  cursor: auto;
}