$borderColor:#dddddd;

.project-header{
	margin:10px;
}
.project-list{
	width:1022px;
	margin:10px auto;
	padding:10px 20px;
  min-height: 800px;
    a{
        cursor:pointer;
    }

    a.project-item-grid{
        width: 220px;
        text-align: center;
        display: inline-block;
        margin: 20px 10px;
        padding-top:20px;
        font-size:20px;
        border: 1px solid transparent;
        text-decoration: none;
        position:relative;
				vertical-align: top;
        p{
           width:200px;
           text-overflow:ellipsis;
           white-space:nowrap;
           overflow:hidden;
           color: #555555;
           font-size: 18px;
           margin:20px auto;
        }
        &:hover{
           border-color: #dddddd;
           border-radius: 6px;
           background:#f6f6f6;
           .anticon-setting{
               display:block;
           }
        }
    }
    a.project-item-list{
        color:#333;
        font-size:18px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display:block;
        margin-bottom: -1px;
        padding: 10px 5px 10px 60px;
        &:hover{
           border-color: #dddddd;
           border-radius: 6px;
           background:#faf9ed;
        }
    }
    .project-new{
       >div{
         width:107px;
         height:107px;
         margin:0 auto;
         background:#f6f6f6;
         border:1px solid #dddddd;
         border-radius:10px;
       }
       i{
          font-size: 50px;
          color: #999999;
          font-weight: bolder;
          margin-top: 26px;
       }

    }
    img{
        width:100px;
        height:100px;
        border-radius: 10px;
    }
}

.anticon-setting{
    position:absolute;
    right: 10px;
    top:10px;
    color: $borderColor;
    font-size:12px;
    display:none;
}
.ant-tooltip{
    opacity:1 !important;
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow{
    border-bottom-color: $borderColor !important;
}
.ant-tooltip-inner{
     background-color: white;
     color:#555555;
     border: 1px $borderColor solid;
}
