$top: 460px;

.canvas-wave {
  position: absolute;
  top: $top;
  height: 220px;
  animation-timing-function: linear;
  // left: 0;
  .canvas-sub-wave {
    position: absolute;
    top: 0;
    width: 1920px;
    height: 220px;
    background: url('./../../../../../assets/image/wave.png') no-repeat;
    
  }
  // &.w0 {
  //   animation: wavemove1 16s infinite;
  // }
  // &.w1 {
  //   animation: wavemove2 18s infinite;
  // }
  // &.w2 {
  //   animation: wavemove1 14s infinite;
  // }
  // &.w3 {
  //   animation: wavemove2 15s infinite;
  // }
  // &.w4 {
  //   animation: wavemove1 17s infinite;
  // }
  // &.w5 {
  //   animation: wavemove2 13s infinite;
  // }
}

// @keyframes wavemove1
// {
//   0% { left: 0px; top: $top; }
//   25% { left: -70px; top: $top + 10px; }
//   50% { left: -70px; top: $top + 20px; }
//   75% { left: 20px; top: $top + 5px; }
//   100% { left: 0px; top: $top; }
// }
// @keyframes wavemove2
// {
//   0% { left: 0px; top: $top; }
//   25% { left: 40px; top: $top + 15px; }
//   50% { left: 70px; top: $top + 20px; }
//   75% { left: -10px; top: $top + 10px; }
//   100% { left: 0px; top: $top; }
// }