.editable-label {
  display: inline;
  .editable-label-editor {
    display: none;
  }
  .editable-label-edit-bt {
    cursor: pointer;
  }
  .ant-btn.ant-search-btn.ant-search-btn-noempty {
    color: #666;
    background-color: #f4f4f4;
    border-color: #d9d9d9;
    border-radius: 0 5px 5px 0;
    margin-left: -30px;
    position: relative;
    border-width: 0 0 0 1px;
    z-index: 2;
    padding-left: 8px;
    padding-right: 8px;
    width: 29px !important;
    i {
      color: #666 !important;
      padding: 0 !important;
    }
  }
  .ant-btn.ant-search-btn.ant-search-btn-noempty:hover {
    i {
      color: #fff !important;
    }
  }
}
.editable-label.edit {
  .editable-label-editor {
    display: table;
  }
  .editable-label-label {
    display: none;
  }
}