.dialogForm #videoThumbnailImg {
  width: 160px;
  height: 90px;
  border: 1px solid #cac7c7;
}

.dialogForm .hidden {
  display: none;
}

.dialogForm .err-info {
  text-align: center;
  font-size: 14px;
  color: red;
}
