.author-tab-content {
  .author-overview {
    height: 200px;
    .author-info {
      float: left;
      width: 180px;
      text-align: center;
      padding: 0 0 0 30px;
      .author-avatar {
        height: 150px;
        padding: 15px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .author-name {
        height: 50px;
        font-size: 20px;
        line-height: 50px;
      }
    }
    .author-playcount {
      float: left;
      width: calc(100% - 180px);
      padding: 0 0 0 30px;
      .author-playcount-text {
        height: 150px;
        text-align: right;
        font-size: 30px;
        line-height: 60px;
        padding: 60px 0 0 0;
        .count {
          font-size: 50px;
          color: #218289;
          padding-left: 20px;
        }
      }
    }
  }

  .author-chart {
    .viewcount-chart {
      width: 100%;
      height: 400px;
      .chart-tooltip {
        height: 24px;
        line-height: 24px;
        margin: 3px 0;
        .chart-tooltip-name {
          width: 70px;
          display: inline-block;
          text-align: center;
          border-radius: 3px;
          margin-right: 3px;
        }
        .chart-tooltip-time {
          display: inline-block;
          border-radius: 3px;
          margin-right: 3px;
          padding: 0 3px;
          background: rgba(255, 255, 255, .3)
        }
      }
    }
  }

  .author-tab-select {
    margin-top: 20px;
    .site-select {
      margin-right: 30px;
    }
  }
  .tab-h {
    margin: 20px 0;
  }
}