.team-header{
	margin:10px;
}
.team-list{
	border: 1px solid #dbdfd6;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    background: #ffffff;
	width:300px;
	margin:150px auto;
    border-radius:3px;
    a{
        cursor:pointer;
    }

    a.team-item-grid{
        width: 200px;
        text-align: center;
        display: inline-block;
        margin: 20px 0px;
        padding-top:15px;
        font-size:20px;
        border: 1px solid transparent;
        color: #333333;
        text-decoration: none;

        p{
           width:200px;
           text-overflow:ellipsis;
           white-space:nowrap;
           overflow:hidden;
        }
        &:hover{
           border-color: #dddddd;
           border-radius: 6px;
           background:#faf9ed;
        }
    }
    a.team-item-list{
        color:#555555;
        font-size:18px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display:block;
        margin-bottom: -1px;
        padding: 15px 10px;
        text-align: center;
        &:hover{
           border-color: #dddddd;
           border-radius: 6px;
           background:#f6f6f6;
        }
    }

    .team-add-btn{
        .team-add-icon{
          font-size:29px;
          line-height: 20px;
        }
         span{
            font-weight: bold;
            color:#999999;
            margin: 0 5px;
        }
    }

    img{
        width:100px;
        height:100px;
        border-radius: 10px;
    }
}
