.video-con{
    margin: 0 20px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: 20px 0;
}
.video-con .ant-form-horizontal{
	 max-width:540px;
}
.video-con .ant-form-horizontal .ant-form-item{
	margin: 10px 20px;
}
.ant-upload-list-item-uploading{
	display:none;
}